
/* 1, 0, 0, 0 */

/* 0, 1, 0 */
.section-header {
    color: purple;
}

/* 0, 1, 0 */
.second-class-name {
    color: yellow;
}

/* 0, 0, 2 */
section h2 {
    color: green;
}



/* 1, 0, 0 */
#h2-header {
    color: aqua;
}




/* 0, 0, 1 */
h1 {
    color: red;
}